body > header
{
    display:grid;
    grid-template-columns: [start] 12em [subtitle] 20em [nav] 1fr [end];
    grid-template-rows: 1fr;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
}

#subtitle
{
    padding-top: 1em;
}

#title
{
    grid-column: start;
    grid-row: 1;
    padding-left: 0.5%;
}

body > header > nav
{
    grid-column: nav;
    grid-row: 1;
    text-align: right;
    display: flex;
    justify-content: right;
    padding-right: 2em;
    align-items: center;
}

#profile_pic > img
{
    border-radius: 50%;
    width: 4.5em;
}

#profile
{
    padding-left: 1em;
    padding-right: 1em;
    border-right: 0.05em solid white;
}

#signout
{
    padding-left: 1.2em
}

#info
{
    margin-top: 6em;
    display: grid;
    grid-template-columns: [start] 15em [description] 1fr [end];
    grid-template-rows: [start] 5em [description] 10em [end];
}

#profile_image
{
    grid-column: start;
    grid-row-start: start;
    grid-row-end: end;
    max-width: 15em;
}

#username
{
    grid-column: description;
    grid-row: start;
    margin: auto;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#description
{
    grid-column: description;
    grid-row: description;
    margin-left: 1em;
    margin-top: 1.5em;
}

#stats
{
    grid-column-start: start;
    grid-column-end: end;
    grid-row: stats;
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
}

.stat > p:nth-child(1)
{
    padding-left: 0.7em;
    padding-right: 0.7em;
}



