#info
{
    margin-top: 6em;
    display: grid;
    grid-template-columns: [start] 15em [description] 1fr [end];
    grid-template-rows: [start] 5em [description] 10em [end];
    border-radius: 0.5em;
    padding-bottom: 1em;
    min-width: 20em;
}

#profile_image
{
    grid-column: start;
    grid-row-start: start;
    grid-row-end: end;
    max-width: 15em;
}

#username
{
    grid-column: description;
    grid-row: start;
    margin: auto;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#description
{
    grid-column: description;
    grid-row: description;
    margin-left: 1em;
    margin-top: 1.5em;
}

#edit
{
    position: absolute;
    right: 1.5em;
    top: 12.5em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

#stats
{
    grid-column-start: start;
    grid-column-end: end;
    grid-row: stats;
    margin-top: 2.5em;
    display: flex;
    justify-content: space-evenly;
}

.stat > p:nth-child(1)
{
    padding-left: 0.7em;
    padding-right: 0.7em;
}

#history_selection
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.7em;
    margin-bottom: 3em;
}

#history_selection > a:first-child
{
    padding-right: 1em;
    height: 1.5em;
}

#history_selection > a:nth-child(2)
{
    padding-left: 1em;
    height: 1.5em;
}



