@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body
{
    background-color: black;
}

#title
{
    font-family: 'Fjalla One', sans-serif;
    font-size: 100pt;
    text-decoration: none;
    text-align: center;
    color: orangered;
}

#title:visited
{
    color: orangered;
}

#signup > form
{
    color: white;
}

#username, #password
{
    border-radius: 5px;
}







