@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body
{
    background-color: black;
}

body *
{
    font-family: 'Fjalla One', sans-serif;
}

#channel_info *
{
    color: white;
}

#channel_info
{
    background: rgb(43, 42, 42);
    border-radius: 0.2em;
}

#channel_name
{
    text-align: center;
    font-size: 18pt;
    border-bottom: 0.2em solid rgb(247, 8, 8);
    color: rgb(175, 168, 168);
}