@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body
{
    background-color: black;
}

body *
{
    font-family: 'Fjalla One', sans-serif;
}

.channel_info *, .channel_info_shrunk *
{
    color: white;
}

.channel_info, .channel_info_shrunk
{
    background: rgb(43, 42, 42);
    box-shadow: -0.2em 0 0.6em red;
    transition: all 0.5s;
}

#channel_name
{
    text-align: center;
    font-size: 18pt;
    border-bottom: 0.2em solid rgb(247, 8, 8);
    color: white;
}

#channel_description
{
    border-bottom: 0.2em solid red;
}

#expand_bar
{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,42,42,1) 85%); 
    text-align: center;
    cursor: default;
}

#subscribe > img:hover
{
    cursor: pointer;
}

#subscribe > img:hover + p
{
    color: red;
}

#subscribe > p:nth-child(2)
{
    font-size: 14pt;
    transition: color 0.2s;
}

#subscribe > p:nth-child(3)
{
    border: 0.12em solid gray;
}

#new_post
{
    font-size: 14pt;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

#new_post:hover
{
    color: red;
}
