.history_item
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 60em;
    height: 8em;
    margin-bottom: 1em;
}

/* Title */
.history_item > a:nth-child(1)
{
    overflow-y: hidden;
    overflow-x: hidden;
    width: 5em;
    max-height: 5em;
}

/* Image */
.history_item > img:nth-child(2)
{
    padding-left: 1em;
    padding-top: 0.5em;
    width: 4em;
    height: 4em;
}

.points
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding-top: 1em;
}

.points > img
{
    grid-column: 1;
    grid-row: 1;
}

.points > p
{
    grid-column: 1;
    grid-row: 2;
}

/* Comments */
.comment
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding-top: 1em;
}

/* Comment Symbol */
.comment > img
{
    grid-column: 1;
    grid-row: 1;
} 

/* Comment Number */
.comment > p
{
    grid-column: 1;
    grid-row: 2;
    padding-right: 0.5em;
} 

.channel
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3em 1em;
    padding-bottom: 1em;
}

/* Channel Icon */
.channel > img
{
    grid-column: 1;
    grid-row: 1;
    padding-left: 1.5em;
    padding-top: 0.5em;
}

.channel > a
{
    grid-column: 1;
    grid-row: 2;
}