@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body
{
    background-color: black;
}

body *
{
    font-family: 'Fjalla One', sans-serif;
}

#errorBox
{
    background-color: rgb(43, 42, 42);
    border-radius: 0.5em;
    box-shadow: 0 0 1em red;
}

body p
{
    font-size: 40pt;
    text-decoration: none;
    color: white;
}

#btn:hover, #btn:focus 
{
  	text-decoration: none;
  	cursor: pointer;
}

#btn
{
    font-size: 14pt;
    text-decoration: none;
    text-align: center;
	border-radius: 0.5em;
    background-color: red;
    color:white;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  