@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body
{
    background-color: black;
}

body *
{
    font-family: 'Fjalla One', sans-serif;
}

body > header
{
    border-bottom-style: solid;
    border-bottom-color: gray;
    background-color: black;
}

#title
{
    font-size: 50pt;
    text-decoration: none;
    color: orangered;
}

#subtitle
{
    font-size: 25pt;
    text-decoration: none;
    color: white;
}

body > header > nav *
{
    text-decoration: none;
    color: white;
}

#profile
{
    font-size: 12pt;
}

#channels
{
    border-right-style: solid;
    border-right-color: gray;
}

#channels *
{
    list-style-type: none;
    text-decoration: none;
    color: white;
}

#channels > ul > li:nth-child(1)
{
    border-bottom-color: orangered;
    border-bottom-width: 0.2em;
}

.story
{
    border: 2px solid gray;
}

.story > *
{
    text-decoration: none;
    color: white;
    text-align: center;
}

/* Upvote Button */
.story > form:nth-child(1) > button
{
    background-image: url("../assets/like.png");
}

/* Number of Points */
.story > p:nth-child(2)
{
    font-size: 16pt;
    border-right: 2px solid gray;
}

/* Title */
.story > a:nth-child(4)
{
    font-size: 18pt;
    border-right: 2px solid gray;
}

/* ID */
.story > span:nth-child(12)
{
    display: none;
}
