#stories
{
    margin-top: 6em;
    margin-left: 9em;
    grid-column-start: channels;
    grid-column-end: end;
    grid-row: header;
    
}

.story
{
    display: grid;
    grid-template-columns: [start] 5em [title] 35em [image] 6.5em [comment] 5em [OP] 10em [channel] 5em [end];
    grid-template-rows: [start] 2em [number_top] 2.5em [number_bottom] 2em [end];
    width: 70em;
    margin: auto;
    margin-bottom: 1em;
}

/* Upvote Symbol */
.story > img:nth-child(1)
{
    grid-column: start;
    grid-row: start;
    margin: auto;
}

/* Number of Points */
.story > p:nth-child(2)
{
    grid-column: start;
    grid-row: number_top;
    margin: 0;
    padding-top: 0.3em;
}

/* Downvote Symbol */
.story > img:nth-child(3)
{
    grid-column: start;
    grid-row: number_bottom;
    margin: auto;
}

/* Title */
.story > a:nth-child(4)
{
    grid-column: title;
    grid-row-start: number_top;
    grid-row-end: end;
    overflow-y: hidden;
}

/* Image */
.story > a:nth-child(5)
{
    grid-column: image;
    grid-row-start: start;
    grid-row-end: end;
}

.story > a:nth-child(5) > img
{
    padding-left: 1em;
    padding-top: 0.5em;
    width: 5.5em;
    height: 5.5em;
}

/* Comments Symbol */
.story > img:nth-child(6)
{
    padding-top: 1em;
    padding-left: 1.8em;
    grid-column: comment;
    grid-row: start;
}

/* Number of Comments */
.story > p:nth-child(7)
{
    grid-column: comment;
    grid-row: number_top;
}

/* OP Symbol */
.story > img:nth-child(8)
{
    padding-top: 1em;
    padding-left: 4.2em;
    grid-column: OP;
    grid-row: start;
}

/* OP */
.story > a:nth-child(9)
{
    padding-top: 1em;
    grid-column: OP;
    grid-row: number_top;
}

/* Channel Icon */
.story > img:nth-child(10)
{
    padding-top: 1em;
    padding-left: 1.6em;
    grid-column: channel;
    grid-row: start;
}

/* Channel */
.story > a:nth-child(11)
{
    padding-top: 1em;
    grid-column: channel;
    grid-row: number_top;
}